.container{
    max-width: 1200px;
    width: 100%;
    padding: 0 auto;
    text-align: -webkit-center;
}

.container h2{
    text-align: center;
    padding: 16px;
}

.container input{
    max-width: 800px;
    width: 100%;
    align-items: center;
}

.container label{
    display:block;
}


button{
    display:block;
    border: none;
    background-color: green;
    color: white;
    margin-top: 16px;
    text-align: center;
    padding: 8px 8px;
    border-radius: 12px;
    cursor: pointer;

}

button:hover{
    background-color: rgb(88, 175, 88);
}


.form-check {
    padding: 16px;
}